@(input: silvousplay.data.health.DatabaseDiff)

<!DOCTYPE html>

<html>
    <head>
        <title>Database Diff</title>
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    </head>
    <body>
      <div id="nav">
        @navigation()
      </div>
      <div id="main">
        <div id="top" class="section hideable">
          <h1>Run these</h1>
          <div class="tohide">
            @topLevelDisplay(input)
          </div>
        </div>
        <div id="explain" class="section hideable">
          <h1>Explain</h1>
          <div class="tohide" hidden>
            @explainDisplay(input)
        </div>
        </div>
      </div>
    </body>
</html>


@navigation() = {
  <ul>
    <li><a href="#runBefore">Run before deploy</a></li>
    <li><a href="#runAfter">Run after deploy</a></li>
    <li><a href="#runErrors">Errors</a></li>
  </ul>
  <ul>
    <li><a href="#explainCreates">Tables to be created</a></li>
    <li><a href="#explainAlters">Tables to be altered</a></li>
    <li><a href="#explainDrops">Tables to be dropped</a></li>
    <li><a href="#explainNoChange">Tables with no changes</a></li>
  </ul>
}


@topLevelDisplay(input: silvousplay.data.health.DatabaseDiff) = {
  <div id="runBefore" class="subsection hideable">
    <h2>Run before deploy:</h2>
    <div class="tohide">
      @input.beforeDeploy.map { i =>
        <div class="module"><p>@i</p></div>
      }
    </div>
  </div>
  <div id="runAfter" class="subsection hideable">
    <h2>Run after deploy:</h2>
    <div class="tohide">
      @input.afterDeploy.map { i =>
        <div class="module"><p>@i</p></div>
      }
    </div>
  </div>
  <div id="runErrors" class="subsection hideable">
    <h2>Errors:</h2>
    <div class="tohide hideable module">
      <h3>Fix (danger!)</h3>
      <div class="tohide">
        @input.errors.fixes.map { i =>
          <div class="module"><p>@i</p></div>
        }
      </div>
    </div>
    <div class="tohide hideable module">
      <h3>Explain</h3>
      <div class="tohide">
        @input.errors.explains.map { i =>
          <div class="module">@errorDisplay(i)</div>
        }
      </div>
    </div>
  </div>          
}
        
@explainDisplay(input: silvousplay.data.health.DatabaseDiff) = {
  <div>
    <div id="explainCreates" class="subsection hideable">
      <h2>Tables that should be created</h2>
      <div class="tohide">
        @input.createExplain.map { i =>
          @createDisplay(i)
        }
      </div>
    </div>
    <div id="explainAlters" class="subsection hideable">
      <h2>Tables that should be altered</h2>
      <div class="tohide">
        @input.alterExplain.map { i =>
          @alterDisplay(i)
        }
      </div>
    </div>
    <div id="explainDrops" class="subsection hideable">
      <h2>Tables that should be dropped</h2>
      <div class="tohide">
        @input.deleteExplain.map { i =>
          @deleteDisplay(i)
        }
      </div>
    </div>
    <div id="explainNoChange" class="subsection hideable">
      <h2>Tables that require no change</h2>
      <div class="tohide">
        @input.noChangeExplain.map { i =>
          @noChangeDisplay(i)
        }
      </div>
    </div>

  </div>          
}

@createDisplay(input: silvousplay.data.health.ExplainTableDiff) = {
  <div class="module hideable">
    <h3>Table @input.tableName should be created</h3>
    <div class="modulebody tohide">
      @input.fullCreate.map { i =>
        <p>@i</p>
      }
    </div>
  </div>
}

@alterDisplay(input: silvousplay.data.health.ExplainAlterTable) = {
  <div class="module hideable">
    <h3>Table @input.tableName should be altered</h3>
    <div class="tohide">
      <div class="hideable">
        <h4>Full create</h4>    
        <div class="modulebody tohide">
          @input.fullCreate.map { i =>
            <p>@i</p>
          }
        </div>
      </div>
      <div class="hideable">
        <h4>Alters</h4>
        <div class="modulebody tohide">
          @input.alters.map { i =>
            <p>@i</p>
          }
        </div>
      </div>
      <div class="hideable">
        <h4>Errors</h4>
        <div class="modulebody tohide">
          @input.errors.explains.map { i =>
            <p>@errorDisplay(i)</p>
          }
        </div>
      </div>
    </div>
  </div>
}

@deleteDisplay(input: silvousplay.data.health.ExplainTableDiff) = {
  <div class="module hideable">
    <h3>Table @input.tableName should be dropped</h3>
    <div class="modulebody tohide">
      @input.fullCreate.map { i => 
        <p>@i</p>
      }
    </div>
  </div>
}

@noChangeDisplay(input: silvousplay.data.health.ExplainTableDiff) = {
  <div class="module hideable">
    <h3>Table @input.tableName requires no change</h3>
    <div class="modulebody tohide">
      @input.fullCreate.map { i =>
        <p>@i</p>
      }
    </div>
  </div>
}


@errorDisplay(input: silvousplay.data.health.ErrorExplain) = {
  <div>
    <strong>@input.explain</strong>
    <ul>
      <li>Desired: @input.desired</li>
      <li>Existing: @input.existing</li>
    </ul>
  </div> 
}
